<p>post-example works!</p>
<!---
<div>
   <span class = "setup"> Return Id</span>
    <h1 class ="punchline">{{data}}</h1>

    <button type = "button" class= "btn btn-success"
    (click)="sendData()">Send Post Command</button>


</div>
-->
<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div>
        <span class = "setup"> Return Id</span>
         <h1 class ="punchline">{{data}}</h1>

    taskid
     <input type="text" name="taskid" placeholder="taskid" formControlName="taskid"/>
     
     <br/>
     ownerid
     <input type="text" name="ownerid" placeholder="ownerid" formControlName="ownerid"/>
     
     <br/>
     creatorid
     <input type="text" name="creatorid" placeholder="creatorid" formControlName="creatorid"/>
     
     <br/>
     taskname
     <input type="text" name="name" placeholder="name" formControlName="name"/>
     
     <br/>
     description
     <input type="text" name="descrptn" placeholder="descrptn" formControlName="descrptn"/>
     
     <br/>
     status<select name="status" formControlName="status">
         <option value="Ongoing">Ongoing</option>
         <option value="Not Started">Not Started</option>
         <option value="Completed">Completed</option>
     </select>
     
     
     <br/>
     priority<select name="priority" formControlName="priority">
         <option value="High">High</option>
         <option value="Medium">Medium</option>
         <option value="Low">Low</option>
     </select>
     
     
     <br/>
     notes
     <input type="text" name="notes" placeholder="notes" formControlName="notes"/>
     
     <br/>
 
     isBookmarked
     <select name="isbookmarked" formControlName="isbookmarked">
         <option value="True">True</option>
         <option value="False">False</option>
         
     </select>
     <br/>
     
     created_on
     <input type="date" name="created_on" placeholder="created_on" formControlName="created_on"/>
     <br/>
 
     status_changed_on<input type="date" name="status_changed_on" placeholder="status_changed_on" formControlName="status_changed_on"/>
     
     
     <br/>
     <!--<input type="submit" [disabled]="!form.valid" value="submit"/>-->
     
    <button type = "button" class= "btn btn-success"
    (click)="onSubmit(form.value)">Send Post Command</button>

    </div>
     taskid is {{taskid}}
     ownerid is {{ownerid}}
    creatorid is {{creatorid}}
     taskname is {{name}}
     description is {{descrptn}}
     status is {{status}}
     priority is {{priority}}
     notes is {{notes}}
     isBookmarked is {{isbookmarked}}
     created_on is {{created_on}}
     status_changed_on is {{status_changed_on}}
 
     
     </form>